<p class="instructions">
  Fill out our concierge form and we will find the perfect host available to host you on your travel dates
</p>


<%= form_for Reservation.new, :html => {:class => 'form-horizontal'} do |f| -%>


  <div class="form-group">
    <%= f.label :country, 'Which country are you visiting?*', :class => 'col-sm-5 control-label' %>
    <div class="col-sm-5">
      <%= f.country_select :country, {}, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, 'Which city are you visiting?*', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_label, 'Date*', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :date, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :additional_dates, 'Additional Dates', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
    <%= f.text_field :additional_dates, :class => 'form-control' %>
    </div>
  </div>


  <!---- template ---->
  <div class="form-group">
    <div class="col-sm-5">
    </div>
  </div>


  <div class="form-group">
    <%= f.label :number_of_guests, 'Number of Guests', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <%= f.select :number_of_guests, (0..10), {}, {:class => 'form-control'} %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :experience_type, 'Experience Type', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <div class="radio">
        <%= f.label :experience_type_meal, "Meal", :class => 'radio-inline' do %>
          <%= f.radio_button(:experience_type, "meal") %> Meal
        <% end %>
      </div>

      <div class="radio">
        <%= f.label :experience_type_cooking_class, "Cooking Class", :class => 'radio-inline' do %>
          <%= f.radio_button(:experience_type, "cooking_class") %> Cooking Class
        <% end %>
      </div>

      <div class="radio">
        <%= f.label :experience_type_meal, "Market Tour Cooking Class Meal", :class => 'radio-inline' do %>
          <%= f.radio_button(:experience_type, "market_tour_cooking_class_meal") %> Market Tour + Class + Meal
        <% end %>
      </div>

    </div>
  </div>

  <div class="form-group">
    <%= f.label :preferred_meal_time, 'Preferred Meal Time', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <div class="radio">
        <%= f.label :preferred_meal_time_lunch, "Lunch", :class => 'radio-inline' do %>
          <%= f.radio_button(:preferred_meal_time, "lunch") %> Lunch
        <% end %>
      </div>

      <div class="radio">
        <%= f.label :preferred_meal_time_dinner, "Dinner", :class => 'radio-inline' do %>
          <%= f.radio_button(:preferred_meal_time, "dinner") %> Dinner
        <% end %>
      </div>

      <div class="radio">
        <%= f.label :preferred_meal_time_either, "Either", :class => 'radio-inline' do %>
          <%= f.radio_button(:preferred_meal_time, "either") %> Either
        <% end %>
      </div>

    </div>
  </div>


  <div class="form-group">
    <%= f.label :has_dietary_restrictions_label, 'Allergies / Dietary Restrictions', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <div class="radio">
        <%= f.label :has_dietary_restrictions_yes, "Yes", :class => 'radio-inline' do %>
          <%= f.radio_button(:has_dietary_restrictions, "yes") %> Yes
        <% end %>
      </div>

      <div class="radio">
        <%= f.label :has_dietary_restrictions_no, "No", :class => 'radio-inline' do %>
          <%= f.radio_button(:has_dietary_restrictions, "no") %> No
        <% end %>
      </div>

    </div>
  </div>

  <div class="form-group">
    <%= f.label :dietary_restrictions, 'Dietary Restrictions', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :dietary_restrictions, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :spice_preference, 'Spice Preference', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <%= f.select :spice_preference, ['Not Spicy', 'Mild', 'Spicy', 'Extra Spicy'], {}, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :wants_alcohol_label, 'Alcohol', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <div class="radio">
        <%= f.label :wants_alcohol_yes, "Yes", :class => 'radio-inline' do %>
          <%= f.radio_button(:wants_alcohol, "yes") %> Yes
        <% end %>
      </div>

      <div class="radio">
        <%= f.label :wants_alcohol_no, "No", :class => 'radio-inline' do %>
          <%= f.radio_button(:wants_alcohol, "no") %> No
        <% end %>
      </div>

    </div>
  </div>

  <div class="form-group">
    <%= f.label :guests_drinking, 'How many are drinking?', :class => "col-sm-5 control-label" %>
    <div class="col-sm-5">
      <%= f.select :guests_drinking, (0..10), {}, {:class => 'form-control'} %>
    </div>
  </div>

  <p class="instructions">
    Sign in to save your details and review and submit your reservation request
  </p>


  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7">
      <%= f.submit 'Submit', :class => "btn btn-default", :id => 'submit-reservation' %>
    </div>
  </div>



<%- end -%>